%table
  %thead
    %tr
      %th UUID
      %th Rates
      %th Created
      %th Updated
  %tbody
    - @currencies.each do |currency|
      %tr
        %td= currency.id
        %td= currency.rates.to_a[0...5]
        %td= currency.created_at
        %td= currency.updated_at
